<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('_bootstrap') %>
    <title>Edit Video</title>
</head>

<body class="bg-light">
  <%- include('_nav') %>
    <div class="container">
      <div class="shadow-lg my-2 mx-auto" style="width: 50vw;">
        <form method="post" class="p-5">
          <h3>Edit Video</h3>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingname" name="name" value="<%= data.name %>">
            <label for="floatingname">Title</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingurlVideo" name="urlVideo" value="<%= data.urlVideo %>">
            <label for="floatingurlVideo">Video ID</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingurlVideo" name="price" value="<%= data.price %>">
            <label for="floatingurlVideo">Price</label>
          </div>
          <select class="form-select mb-3" name="CategoryId">
            <% category.forEach(element=> { %>
              <option value="<%= element.id %>">
                <%= element.name %>
              </option>
              <% }) %>
          </select>
          <div class="form-floating mb-3">
            <textarea class="form-control" id="floatingDescription" name="description" style="height: 200px;">
              <%= data.description %>
            </textarea>
            <label for="floatingPassword">Description</label>
          </div>
          <button class="btn btn-outline-primary w-100" type="submit">Edit</button>
        </form>
      </div>
    </div>
</body>

</html>