<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('_bootstrap') %>
    <title>Home</title>
</head>

<body class="bg-light">
  <%- include('_nav') %>
    <div class="container my-5 d-flex flex-wrap justify-content-center gap-3 ">
      <% dataCourse.forEach(element=> { %>
        <div class="card" style="width: 18rem;">
          <img src="http://img.youtube.com/vi/<%= element.urlVideo %>/default.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">
              <%= element.name %>
            </h5>
            <p class="card-text">
              <%= element.description %>
            </p>
            <p class="card-text">
              <%= element.price %>
            </p>
            <a href="#" class="btn btn-primary w-100">Subscribe</a>
          </div>
        </div>
        <% }) %>
    </div>
</body>

</html>